*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.Aisana{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.358)),url(../img/aisana.JPG);
    background-position-x: 0px;
    background-position:0px;
    background-size: cover;
    text-align: left;
    color:white;
    margin-top: -60px;
}
.Meir{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.358)),url(../img/meir.jpg);
    background-position-x: -20px;
    background-position:0px;
    background-size: cover;
    text-align: left;
    color:white;
}
.title{
    font-size: 60px;
    padding-top: 200px;
    text-transform: uppercase; 
    color:transparent;
    -webkit-text-stroke:2px white;
}
.headerM{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.358)),url(../img/login2.jpg);
    background-position-x: -20px;
    background-position:0px;
    background-size: cover;
    text-align: center;
    color:white;
    margin-bottom: 60px;
}
.Malika{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.558),rgba(0, 0, 0, 0.558)),url(../img/malika.jpg);
    background-position-x: -20px;
    background-position-y: -200px;
    background-size: cover;
    text-align: right;
    color:white;
}
.Nekoma{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.358),rgba(0, 0, 0, 0.358)),url(../img/meir.jpg);
    background-position-x: -20px;
    background-position:0px;
    background-size: cover;
    text-align: left;
    color:white;
}
.info p{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;  
}
.infoM p{
    text-align: right;
    font-size: 20px;
    margin-right: 20px;  
}
.Management{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.658)),url(../img/trello.png);
    background-position-x: -20px;
    background-position:0px;
    background-size: cover;
    text-align: center;
    color:white;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 35px;
   font-weight: 400;
   margin-left: 10px;
   margin-top: -20px;
   margin-bottom: 35px;
}
.Project{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.658)),url(../img/pr1.JPG);
    background-position-x: -20px;
    background-position:0px;
    background-size: cover;
    text-align: center;
    color:white;
}
.Tech{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.658)),url(../img/pr2.JPG);
    background-position-x: -20px;
    background-position:0px;
    background-size: cover;
    text-align: center;
    color:white;
}
.infos{
    text-align: center;
    font-size: 40px;
}
